canvas {
  background-color: black;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn {
  border: 1px solid black;
  background-color: seagreen;
  color: white;
  padding: 22px;
  border-radius: 18px;
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn:hover {
  background-color: rgba(33, 103, 64, 0.814);
}
.reset {
  border: 1px solid black;
  background-color: seagreen;
  color: white;
  padding: 20px;
  border-radius: 18px;
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.reset:hover {
  background-color: rgba(33, 103, 64, 0.814);
}
#message {
  font-size: 40px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
